# Discord Bot Configuration
DISCORD_TOKEN=your_discord_token_here

# Database
DATABASE_URL=your_database_url

# Other APIs (if needed)
REMOVE_BG_API_KEY=
DEEPAI_API_KEY=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
